includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @mixin contains unknown class Eloquent#'
        - '#Call to an undefined static method Spatie\\WebhookClient\\Models\\WebhookCall::(create|where)\(\)#'
